/* PAGE LEVEL STYLES */
html {
  font-size: 18px; 
  font-family: Helvetica, sans-serif; 
  color: white;
}


h1,
h4 {
  font-weight: bold; 
}

.container {
  max-width: 960px; 
  margin: auto;
}

 a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: white;
} 

.mobile-menu {
  display: none;
}

/* PAGE HEADER STYLES */
.top-banner {
  background-color: black;
  color: white;
}

.top-banner .container {
  display: flex;
  align-items: center;
  font-size: 1rem; 
}

.top-banner img {
  height: 1.5em; 
  padding-right: 1rem; 
  padding-left: 0.5rem; 
  display: inline-block;
}

.top-banner span{
  padding: .66rem 0 .66rem 0;
  margin-left: 1rem;
}

/* SUB-BANNER STYLES */
.sub-banner {
  background: url(../img/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem; 
}

.splash-txt {
  position: relative;
  top: 9rem;
  width: 20rem;
  background-color: black;
  font-weight: bold;
  padding: 2rem 3rem;
}

.splash-txt h1 {
  font-size: 2rem;
}

.splash-txt h4{
  padding-bottom: 0.25rem;
}

/* NAVIGATION BAR STYLES */
.site-nav {
  background-color: firebrick;
  color: white;
}

.site-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  list-style: none;
}

/* PRODUCTS STYLES */
.products{
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.prod{
  width:30%;
  position: relative;
}

.prod-img{
  display: flex;
  min-height: 13rem;
  max-height: 13rem;
  border: 4px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prod h4{
  display: block;
  background-color: black;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.prod-img img {
  object-fit: scale-down;
  max-width: 8em;
}


/* CONTACT INFO STYLES */
.contact{
  flex-wrap: wrap;
  display:flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.location,
.hours{
  width:35%;
}

.contact h4{
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contact p{
  color:black;
}

/* FOOTER STYLES */
footer{
  display: block;
  background-color: black;
  padding: 5rem;
  text-align: left;
 }


/* MEDIA QUERIES */
/* TABLETS */
@media only screen and (max-width: 1024px){

  body{
    font-size: 16px;
  }

  .prod {
    width: 47%;
    height: auto;
  }

  .glasses {
    display: none;
  }

  .site-nav {
    display: none;
  }

  .location,
  .hours{
    width:35%;
  }

  /* Dropdown mobile menu */
 .mobile-menu{
   position: relative;
   display: inline-block;
   width: 100%;
   background: firebrick;
   text-align: center;
   padding: 0.75rem 0;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
 }

 .dropdown-content{
   display: none;
   z-index: 1;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   text-decoration: none;
   position: absolute;
   width: 100%;
 }

 .dropdown-content a{
   display: block;
   padding: 10px;
   text-decoration: none;
   background: white;
   color: firebrick;
 }

 .dropdown-content a:hover{
   background: firebrick;
   color: white;
 }

 .mobile-menu:hover .dropdown-content{
   display: block;
 }
}


/* PHONES */
@media only screen and (max-width: 470px){

  .watch {
    display: none;
  }

  .sub-banner {
    height: 15rem;
  }
  .splash-txt {
 
    padding: 1rem 2rem;
    width: 100%;
    height: 3rem;
  }
  .splash-txt h1 {
      font-size: 1rem;
      font-weight: bold;
    }
  .splash-txt h4 {
    font-size: 0.77rem;
    font-weight: bold;
  }

  .prod,
  .location,
  .hours  {
    width: 90%;
    height: auto;
    margin-bottom: 0.5rem;
  }

  .products,
  .contact  {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contact {
    margin-bottom: 0.5rem;
  }

  footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
